

.im1
{
    position:absolute;
    width: 100%;
}


.btna:hover {
    background-color:rgb(170, 81, 182);
    color: white;
  }

.im2
{
    position:relative ;
    width: 100%;
}
.im3
{
    width: 30%;
    margin-left: 2%;
    margin-top: 10%;
    position: relative;
    
}
.he-con
{
    background-color:transparent;
    margin-top: 2%;
    position:relative;
    width:60%;
    height: 20%;
}


.btna{
    width:32%;
    border-color: rgb(170, 81, 182);
    border-radius: 10%;
    padding: 1%;
    font-size: x-large;
    background-color: white;
}
.im4{
    width:28%;
    margin-bottom: 1%;
    margin-left: 72%;
    position: relative;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 764px) {
    /* For mobile phones: */
    .btna
    {
        margin: auto;
        width: 60%;
    }
    .he-con
    {
        margin:auto
    }
  }

@media only screen and (max-width: 658px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    font-size: medium;
  }
  .he-con
  {
      margin-top: 0px;
      background-color: transparent;
  }
  .btna
  {
      width: 33%;
      background-color: white;
  }
}
@media only screen and (max-width: 612px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: medium;
    }
    .he-con
    {
        margin-top: 0px;
        background-color: transparent;
    }
    .btna
    {
        width: 30%;
        background-color: white;
        
    }
  }

  @media only screen and (max-width: 658px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: medium;
    }
    .he-con
    {
        margin-top: 0px;
        background-color: transparent;
    }
    .btna
    {
        width: 33%;
        background-color: white;
    }
  }
  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: medium;
    }
    .he-con
    {
        margin-top: 0px;
        background-color: transparent;
    }
    .btna
    {
        width: 25%;
        background-color: white;
        height:fit-content;
        font-size: medium;
    }
  }
  @media only screen and (max-width: 474px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: medium;
    }
    .he-con
    {
        margin-top: 0px;
        background-color: transparent;
    }
    .btna
    {
        width: 25%;
        background-color: white;
        height:fit-content;
        font-size: small;
    }
    .im1
    {
        margin-top: 0%;
    }
  }
  @media only screen and (max-width: 412px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: medium;
    }
    .he-con
    {
        margin-top: 0px;
        background-color: transparent;
    }
    .btna
    {
        width: 30%;
        background-color: white;
        height:fit-content;
        font-size: x-small;
    }
    .im1
    {
        margin-top: 0%;
    }
  }
  @media only screen and (max-width: 412px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: medium;
    }
    .he-con
    {
        margin-top: 0px;
        background-color: transparent;
    }
    .btna
    {
        width: 30%;
        background-color: white;
        height:min-content;
        font-size:xx-small;
    }
    .im1
    {
        margin-top: 0%;
    }
  }
