.search-inline {
  margin-left: 2%;
}
[type="search"] {
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}
#sellbutton {
  background-color: white;
  color: black;
  border: 1% solid #000000;
  transition-duration: 0.4s !important;
  font-weight: bolder;
  font-size: 100%;
  margin-left: 1%;
  padding-left: 1%;
  padding-right: 1%;
  box-sizing: border-box;
}
#sellbutton:hover {
  background-color: #;
  color: white;
}
.explorebutton {
  background-color: #fff;
  margin-left: 3%;
	font-weight: bolder;
  font-size:100%;
  padding-left: 1%;
  padding-right:1%;
  transition-duration: 0.4s!important;
   box-sizing: border-box;
}
.searchbutton{
background-color: #fff;
}
.explorebutton:hover{
	background-color: #000;
	color:white;
}
.searchbutton:hover {
  background-color: #D3D3D3;
	color:white;
}
#wishlist {
  width: 25px;
}
#shoppingbag {
  width: 25px;
}
#user {
  width: 25px;
}
.nav-link {
  padding: 2%;
}
.nav-item {
  margin-right: 2%;
}
.navcolor {
  background-color: #f1c120 !important;
}
.userbutton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.navbtn {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#searchimg {
  width: 50%;
}
.srchwd {
  width: 75%;
}
/* NEW  */
#backbtn {
  width: 15px;
}
#logo{
	width:4%;
}
@media (max-width: 575.98px) {
#logo{
	width : 13%;
}
.explorebutton{
	margin-right: 40%;
}
}


@media (max-width: 767px) {
#logo{
	width : 13%;
}
.explorebutton{
	margin-right: 25%;
}
}
@media (min-width:768px) and (max-width: 1000px) {
#logo{
	width : 8%;
}
.explorebutton{
	margin-right: 65%;
}
}

/* NEW  */
