.container {
  padding-bottom: 10px;
}

.nav-item {
  padding-right: 40px;
}

.text-container {
  margin: 5% 0 0 0;
  max-width: 100%;
}

.t-col h1 {
  padding-left: 38px;
  padding-bottom: 3%;
  margin-top: 2%;
}

.t-col p {
  margin-top: 1%;
  line-height: 2rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.1rem;
  justify-content: center;
}

.desc1 h1 {
  text-align: left;
  padding: 0;
  padding-bottom: 10px;
}

.desc1 p {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding: 0;
}

.desc2 h1 {
  text-align: left;
  padding: 40px 0 40px 0;
}

.desc2 p {
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
}

@media screen and (max-width: 100px) {
  .column {
    width: 100%;
  }
}

/* footer  */

footer {
  background: #16222a;
  background: rgba(0, 0, 0, 0.85);

  color: white;
  margin-top: 100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS in footer*/

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background-color: #c90ed6;
}

.social-network a.icoTwitter:hover {
  background-color: #40edf0;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 3% auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s;
}

.social-circle i {
  color: #474545;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}
