* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 99vw; */
}
body {
  overflow-x: hidden;
}

/* ........................................... aditi's cards..................................  */

.crdbody {
  padding: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(0 0 0 / 10%);
  border-radius: 20px !important;
}
.crdbg {
  width: 100%;
  /* display: flex;
  justify-content: space-between; */
}

.card-body {
  padding: 0.5rem 0.5rem !important;
}

.cuttxt {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
  height: 1.85em;
  white-space: nowrap;
  margin-bottom: 0.1rem !important;
}

.cardz {
  padding-left: 2rem;
  padding-right: 2rem;
}
.fntcrd {
  font-size: 1.3vw;
}
a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 420px) {
  .card-body {
    padding: 0.1rem !important;
  }
  .fntcrd {
    font-size: 3vw;
  }
}
/* ........................................... aditi's cards..................................  */

/* .................................... aditi's footer ................................  */
footer {
  background: #16222a;
  background: rgba(0, 0, 0, 0.85);

  color: white;
  margin-top: 100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS in footer*/

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background-color: #c90ed6;
}

.social-network a.icoTwitter:hover {
  background-color: #40edf0;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 3% auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s;
}

.social-circle i {
  color: #474545;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

/* .................................... aditi's footer ................................  */

/* ....................nikx's css .................................... */

/* ul li.active a {
  background-color: rgb(176, 172, 172);
  color: white;
} */
.list-group-item.active {
  background-color: rgb(176, 172, 172);
  border-color: rgb(176, 172, 172);
  color: #fff;
}
.fntcng {
  font-size: 3vw;
}
.filterinp {
  margin: 1%;
  margin-top: 4%;
  width: 95%;
}

.btn {
  color: #666;
  font-size: 0.5rem;
}

.btn:hover {
  color: #fafafa;
}
.radio,
.checkbox {
  padding: 2% 3%;
}

.border {
  border-radius: 12px;
}

.options {
  position: relative;
  padding-left: 25px;
}

.radio label,
.checkbox label {
  display: block;
  font-size: small;
  cursor: pointer;
  margin: 0;
}

.options input {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.options input:checked ~ .checkmark:after {
  display: block;
}

.options .checkmark:after {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  background: white;
  position: absolute;
  top: 52%;
  left: 51%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark {
  background: #1d1e21;
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}

.count {
  font-size: 0.8rem;
}

label {
  cursor: pointer;
}

.tick {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0;
}

.tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.tick:hover input ~ .check {
  background-color: #fff;
}

.tick input:checked ~ .check {
  background-color: #1d1e21;
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.tick input:checked ~ .check:after {
  display: block;
  transform: rotate(45deg) scale(1);
}

.tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(2);
}

#country {
  font-size: 0.8rem;
  border: none;
  border-left: 1px solid #ccc;
  padding: 0px 10px;
  outline: none;
  font-weight: 900;
}

.close {
  font-size: 1.2rem;
}

div.text-muted {
  font-size: 0.85rem;
}

#sidebar {
  width: 25%;
  float: left;
}

.category {
  font-size: 0.8rem;
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 0.3rem 0.4rem 0.3rem 0rem;
}

.badge-primary {
  background-color: #1d1e21;
  color: #fff;
}

.brand .check {
  background-color: #fff;
  top: 3px;
  border: 1px solid #666;
}

.brand .tick {
  font-size: 1rem;
  padding-left: 25px;
}

.rating .check {
  background-color: #fff;
  border: 1px solid #666;
  top: 0;
}

.rating .tick {
  font-size: 0.9rem;
  padding-left: 25px;
}

.rating .fas.fa-star {
  color: #1d1e21;
  padding: 0px 3px;
}

.brand .tick:hover input ~ .check,
.rating .tick:hover input ~ .check {
  background-color: #f9f9f9;
}

.brand .tick input:checked ~ .check,
.rating .tick input:checked ~ .check {
  background-color: #1d1e21;
}

.options {
  display: flex;
}

.radio label,
.checkbox label {
  margin-bottom: 0.5rem;
}

/* .............................. nikx's css ........................  */
