.form-container {
    box-shadow: 0 1px 10px rgb(0,0,2);
    padding: 3% 5%;
    border-radius: 4px;
    margin-top: 50px;
}

.form h2 {
    text-align: center;
    margin: 10px 20px;
    margin-bottom: 20px;
    
}

.form-controller {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-controller label {
    display: block;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 5px;
}

.form-controller input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #f0f0f0;
    margin-bottom: 5px;
}

.form-controller input:focus {
    outline: 0;
    border-color: #777;
}

.form-controller.success input{
    border-color: var(--success-color);
}

.form-controller.error input{
    border-color: var(--error-color);
}

.form-controller small{
    color: var(--error-color);
    visibility: hidden;
}

.form-controller.error small {
    visibility: visible;
} 

.form button {
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    color: white;
    border: none;
    background-color: rgb(13, 121, 221);
    border-radius: 4px;
}

.form button:focus {
    border: none;
    outline-color: rgb(13, 121, 221);
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}