.nav {
  background-color: orange;
}

.backbtn {
  width: 30%;
}

.group1 {
  margin-top: 1%;
  margin-left: 5%;
}

.acct {
  margin-bottom: 2%;
}

.row2 {
  margin-top: 3%;
}

.butn {
  width: 30%;
  background-color: rgb(255, 255, 249);
  padding-top: 0%;
  padding-bottom: 0%;
  margin-right: 3%;
  margin-bottom: 3%;
  text-align: left;
}

.img21 {
  width: 10%;
  margin-left: auto;
  float: left;
  margin-top: 2%;
}

.butn1 {
  margin-left: 5;
}

.txt1 {
  margin-top: 2%;
  margin-left: 15%;
  padding: 0%;
}
.card-row {
  height: 210px;
}
.card1 {
  width: 28%;
  height: 100%;
  border: 1px solid black;
  float: left;
  margin-top: 2%;
  margin-right: 5%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 917px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 30%;
    font-size: medium;
  }

  .butn {
    width: 43%;
    background-color: white;
  }

  .card1 {
    width: 43%;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 30%;
    font-size: medium;
  }

  .butn {
    width: 43%;
    background-color: white;
    text-align: center;
    height: 200px;
  }
  .group2 {
    margin-top: 10%;
  }
  .txt1 {
    margin-left: unset;
  }
  .img21 {
    width: 30%;
    float: unset;
  }

  .card1 {
    width: 43%;
  }
}
@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 30%;
    font-size: medium;
  }

  .card1 {
    width: 70%;
    height: max-content;
    margin-left: 10%;
  }
}
footer {
  background: #16222a;
  background: rgba(0, 0, 0, 0.85);

  color: white;
  margin-top: 250px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
  text-decoration: none;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS in footer*/

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
  background-color: #c90ed6;
}

.social-network a.icoTwitter:hover {
  background-color: #40edf0;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoTwitter:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 3% auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s;
}

.social-circle i {
  color: #474545;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}
