

.im1
{
    position:absolute;
}
.btn-group-abhi{
    margin-top:2%;
    margin-bottom: 2%;
    
    width: 100%;
    font-size: large;
    color: Black;
    border: 3px dashed rgb(170, 81, 182);
    border-bottom-left-radius:22%;
    border-bottom-right-radius: 22%;
}
.btn
{
    height: 30%;
    color:black;
    font-size: x-large;
    font-weight: bold;
    border-color: white;
}
.btn:hover {
    background-color:rgb(170, 81, 182);
    color: white;
  }

.im2
{
    position:relative ;
}
.im3
{
    width: 30%;
    margin-top: 10%;
    position: relative;
    
}
.im4{
    width:28%;
    margin-bottom: 1%;
    margin-left: 72%;
    position: relative;
}
.container
{
    background-color: white;
    position:relative;
}
.btnc{
    
    border-bottom-left-radius: 18%;
    border-bottom-right-radius: 18%;
}
.btncl{
    border-left-color :rgb(170, 81, 182);
}
.btnm{
    width:25%;
    border-right-color: rgb(170, 81, 182);
    border-left-color: rgb(170, 81, 182);
}
